@main-application-bg-color: #fdfdfd;
@light: white;
@dark: black;

@ruby:      #ed1965;
@jaffa:     #F68D42;
@caribbean: #46BC99;
@pampas:    #f2f0ed;
@thunder:   #3a3133;
@error-red: #e74c3c;

//Background
@topic-bg-left:  #927fa6;
@topic-bg-right: #42b9dd;

//TODO Remove this
@editable-content-editor-border: #eee;
@forum-subscribe-area-border: #eee;

//Forum specific
@topic-table-bg:                   @light;
@topic-container-category-bg:      fadeout(@light, 90%);
@topic-container-table-control-bg: @main-application-bg-color;
@topic-table-cell-odd-bg:          lighten(@pampas, 4%);
@topic-table-header-color:         lighten(@dark, 80%);
@topic-table-cell-color:           lighten(@dark, 10%);
@topic-table-cell-border:          darken(@pampas, 1%);

//Forms
@input-border-color: lighten(@dark, 80%);

//Modal
@modal-wrapper-bg: fadeout(@light, 2%);

//Create Topic
@create-modal-heading-color: lighten(@dark, 80%);
@create-topic-name-color:    lighten(@dark, 10%);
@create-topic-body-color:    lighten(@dark, 10%);
@create-topic-type-ahead-highlight: desaturate(@caribbean, 10%);
@create-topic-type-ahead-border: lighten(@dark, 90%);
@create-topic-close-btn-color: rgba(204, 204, 204, .5);

//Topic
@topic-header-color:             lighten(@dark, 10%);
@topic-category-button-border:   lighten(@dark, 60%);
@topic-tag-button-border-color:  lighten(@dark, 80%);
@topic-tag-button-text-color:    lighten(@dark, 40%);
@topic-username-color:           lighten(@dark, 60%);
@topic-body-border-color:        #f7f6f6;
@topic-reply-border-color:       darken(@pampas, 10%);
@topic-reply-body-color:         @light;
@topic-reply-list-header-bg:     @topic-body-border-color;
@topic-reply-list-heading-color: darken(@pampas, 20%);
@topic-reply-sent-details-color: darken(@pampas, 26%);
@topic-reply-action-text-color: @topic-reply-sent-details-color;
@topic-reply-editor-background-color: @main-application-bg-color;
@topic-reply-editor-border-color: darken(@topic-body-border-color, 10%);


//Search
@search-input-bg: fadeout(@light, 80%);

@valid: @caribbean;
@invalid: @ruby;

@header-base-bg-color: #753a88;
@header-grad-bg-color: #cc2b5e;
@topic-table-border-color:          #f7f6f6;
